<html>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="pt-br">
    {{ $caymanScss := "scss/cayman.scss" }} {{ $options := (dict "targetPath" "css/cayman.css") }} 
    {{ $caymanCss := resources.Get $caymanScss | resources.ExecuteAsTemplate $caymanScss . | toCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $caymanCss.Permalink }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <title>{{ $.Site.Title }}</title>
  </head>
  <body>
    <div class="error-block">
        <h1>404</h1>
        <h2>Page Not Found</h2>
    </div>
  </body>
</html>