<div class="containerWhoWeAre">
  <p>
    Periódicos em nuvens é uma iniciativa da
    <a href="https://lepidus.com.br/">Lepidus Tecnologia</a>.
  </p>

  <p>
    Com sede em Florianópolis, a Lepidus tem como objetivo criar soluções sob
    medida para as necessidades de cada instituição, através do desenvolvimento
    de software de alta qualidade e oferecendo serviços em nuvens.
  </p>

  <p>
    Seus integrantes possuem vasta experiência na área de desenvolvimento de
    software, redes de computadores e na plataforma SEER.
  </p>
</div>
